/* 
.titreAccueil{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 1EM;      
    background-color:#F0EBCE
} 

 .titre{
    font-size: 60px;
    font-stretch: extra-expanded;
}



.btn{
    background-color: black;
    margin-right: 5%;
}


}



.container{
    width: 100%;
    max-width: 1000px;    
    margin-left: auto;
    margin-right: auto;
}



.buttonco{
    --bs-btn-font-weight: 600 !important;
    --bs-btn-color: var(--bs-white)!important;
    --bs-btn-bg: var(--bd-violet)!important;
    --bs-btn-border-color: var(--bd-violet)!important;
    --bs-btn-border-radius: .5rem!important;
    --bs-btn-hover-color: var(--bs-white)!important;  
}

.menusc{

    border:solid;
    border: 1rem solid;
    border: thick double black;
    border: 4mm ridge(black);
}

.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}


.imagescategories {

    background-size: 200px 100px;
} */

/* .produithome {

    magin-right: auto  !important;
    margin-left: auto !important;

} */

.namecat{


}

.footer1{
    position: fixed ;
    bottom: 0px !important; 
    width: 100% !important;
    height: 4rem;    
}

.descsouscat{
    font-size: 22px !important;
}

.prixproduit {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

 .imagescategories {
    background-size: 400px 400px !important;
    max-width: 400px;
    max-height: 400PX;
}

.panierinfo{
    color:bisque;
    margin-right: 20px !important;
    font-size: 20px !important;
}

.panierinfo:hover{

    font-size:x-large !important;
    background-color: rgb(168, 168, 168) !important;
}

.navco{
    color:bisque;
    margin-right: 20px !important;
}

.navco:hover {
    font-size:x-large !important;
    background-color: rgb(168, 168, 168) !important;
}

.body{
    display: box;
}


.carouselbase {

   /* justify-content: center !important;
   display: flex; */
     
   
   background-size: 100%, 100%;
   border-radius: 50%;
   
}

.carousel-inner {

    justify-content: center !important;
}

.c-t-p{
    position: absolute !important;
    bottom: 0 !important;
    justify-content: center !important;
    font-weight: bold;

}




